#sideNavigation {
text-align: center;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
width: 18rem;
height: 100vh;
}

#navigation {
	align-items: flex-start;
flex-grow: 0;
width: 100%;
margin-bottom: auto;
}
.section {
	padding: 3rem;
	border-bottom: 1px solid #ced1d4;
	min-height: 100vh;
display: flex;
}

.container-fluid {
	padding: 0;
}

.nav-links {
	padding: .4rem 1rem;
}
.navbar-logo{
	font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
display: flex;
padding: .5%;
margin: auto;
}

.item {
	margin-bottom: 5%;
display: flex;
}
.item-content{
	margin-right: auto;
}
.item-time {
	min-width: 18%;
	text-align: right;
}
.item-header{
	margin: 0;
	margin-right: auto;
}

.item-subheading{
	text-transform: uppercase;
	font-weight: 500;
	font-family: inherit;
	color: #858a8f;
}
.social-media {
	padding-left: 0;
list-style: none;
}

.social-media-items{
	display: inline-block;
	margin-right: 1%;
}

.fa-linkedin {
	font-size: 30px;
	color: #46484a;
}
.fa-github {
	font-size: 30px;
	color: #46484a;
}

.my-info {
	margin-bottom: auto;
margin-top: auto;
}
.info {
	margin-bottom: 2.8rem;
}

.info-text {
	margin-bottom: 2.8rem;
}

.my-info h1 {
	font-size: 60px;
}

.profile-img {
	    max-width: 13rem;
    max-height: 13rem;
    border: .5rem solid rgba(255,255,255,.2);
    border-radius: 50%;
}
}