#sideNavigation {
text-align: center;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
width: 18rem;
height: 100vh;
}

.section {
	padding: 3rem;
}

.container-fluid {
	padding: 0;
}

.nav-links {
	padding: .4rem 1rem;
}

.item {
	margin-bottom: 5%;
display: flex;
}
.item-content{
	margin-right: auto;
}
.item-time {
	min-width: 18%;
	text-align: right;
}
.item-header{
	margin: 0;
}

.item-subheading{
	text-transform: uppercase;
	font-weight: 500;
	font-family: inherit;
	color: #858a8f;
}