#sideNavigation {
text-align: center;
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
width: 18rem;
height: 100vh;
}
#about {
	background-image: url("/images/background.jpg");
	background-size: cover;
border-top: 0;
background-repeat: no-repeat;
margin-bottom: 0;
background-position: top center;
}
#navigation {
	align-items: flex-start;
flex-grow: 0;
width: 100%;
margin-bottom: auto;
}
.section {
	padding: 3rem;
	border-bottom: 1px solid #ced1d4;
	min-height: 100vh;
display: flex;
}

.container-fluid {
	padding: 0;
}

.nav-links {
	padding: .4rem 1rem;
}
.navbar-logo{
	font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
display: flex;
padding: .5%;
margin: auto;
}

.item {
	margin-bottom: 5%;
display: flex;
}
.item-content{
	margin-right: auto;
}
.item-time {
	min-width: 18%;
	text-align: right;
}
.item-header{
	margin: 0;
	margin-right: auto;
}

.item-subheading{
	text-transform: uppercase;
	font-weight: 500;
	font-family: inherit;
	color: #858a8f;
}
.social-media {
	padding-left: 0;
list-style: none;
}

.social-media-items{
	display: inline-block;
	margin-right: 1%;
}

.fa-linkedin {
	font-size: 30px;
	color: #46484a;
}
.fa-github {
	font-size: 30px;
	color: #46484a;
}

.my-info {
	margin-bottom: auto;
margin-top: auto;
}
.info {
	margin-bottom: 2.8rem;
}

.info-text {
	margin-bottom: 2.8rem;
}

.my-info h1 {
	font-size: 60px;
}

.profile-img {
	    max-width: 13rem;
    max-height: 13rem;
    border: .5rem solid rgba(255,255,255,.2);
    border-radius: 50%;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#back-to-top:hover i {
    color: #fff;
    top: 5px;
}